@model Statistics.Domain.Tournament

@{
    ViewBag.Title = "Details";
    var members = ViewBag.Members;
}

@section styles
{
    @Styles.Render("~/Content/themes/base/css")
}

<h2>Турнир: Подробно</h2>
<p></p>

<fieldset>
    <legend>Tournament</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.TournamentName, "Название турнира")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TournamentName)
    </div>

    <p></p>

    <div class="display-label">
        @Html.LabelFor(model => model.Date, "Дата турнира")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
    <p></p>

    <table id="memberslist" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Количество очков</th>
            </tr>
        </thead>

        <tbody>
            @{
                int rowNumber = 1;
            }

            @if (members != null)
            {
                foreach (var member in members)
                {
                    <tr>
                        <td>@rowNumber++</td>
                        <td>@member.MemberName</td>
                        <td>3</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</fieldset>
<p>
    <a class="btn btn-default btn-sm" href="@Url.Action("Edit", "Tournament", new { id = Model.TournamentId })">Редактировать</a>
    <a class="btn btn-default btn-sm" href="@Url.Action("Index", "Tournament")">Вернуться к списку</a>
</p>

@section scripts
{
    @Scripts.Render("~/Scripts/dataTables.select.min.js")
    @Scripts.Render("~/Scripts/dataTables.editor.min.js")
    @Scripts.Render("~/Scripts/dataTables.sorting.date-eu.js")

    <script>
        $(document).ready(function() {
            $('#memberslist').DataTable({
                columnDefs: [
                    { type: 'date-eu', targets: 0 }
                ]
            });
        });
        </script>
}