@model Statistics.Domain.Tournament

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование турнира</h2>
<p></p>
@section styles
{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Scripts/select2/css/select2.min.css")
    @Styles.Render("//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tournament</legend>

        @Html.HiddenFor(model => model.TournamentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.TournamentName, "Название турнира")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TournamentName)
            @Html.ValidationMessageFor(model => model.TournamentName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date, "Дата турнира")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>
        <p></p>
        <p>
            <input class="btn btn-default btn-sm" type="submit" value="Сохранить" />
            <a class="btn btn-default btn-sm" href="@Url.Action("Index", "Tournament")">Вернуться к списку</a>
        </p>
    </fieldset>
}


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("//code.jquery.com/jquery-1.10.2.js")
    @Scripts.Render("//code.jquery.com/ui/1.11.4/jquery-ui.js")

    <script>
        $(function () {
            $("#Date").datepicker({ dateFormat: 'dd.mm.yy' });
        });

    </script>

}

