@model IEnumerable<Statistics.Domain.Tournament>

@{
    ViewBag.Title = "Турниры";
}

<h2>Турниры</h2>

@section styles
{
    @Styles.Render("~/Content/themes/base/css")
}

<p>
    <a class="btn btn-default" href="@Url.Action("Create", "Tournament")">Добавить новый</a>
</p>

<table id="tournamentlist" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Дата</th>
            <th>Количество раундов</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td></td>
                <td><a class="btn btn-default btn-sm btn-block" href="@Url.Action("Details", "Tournament", new { id = tournament.TournamentId })">@tournament.TournamentName</a></td>
                <td>@tournament.Date</td>
                <td>3</td>
                <td><a class="btn btn-default btn-sm btn-block" href="@Url.Action("Edit", "Tournament", new { id = tournament.TournamentId })">Править</a></td>
                <td><a class="btn btn-default btn-sm btn-block" onclick="deleteTournament(@tournament.TournamentId)">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/Scripts/dataTables.select.min.js")
    @Scripts.Render("~/Scripts/dataTables.editor.min.js")
    @Scripts.Render("~/Scripts/dataTables.sorting.date-eu.js")
       
    <script>
        $(document).ready(function() {

            var t = $('#tournamentlist').DataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "iDisplayLength": 10,
                "aoColumnDefs": [
                    {
                        "aTargets": [0],
                        "bSortable": false
                    },
                    {
                        "aTargets": [3],
                        "bSortable": false,
                        "bSearchable": false,
                    },
                    {
                        "aTargets": [2],
                        "mRender": function (data, type, row) {
                            if (data) {
                                var m = data.split(/[. ]/);
                                var formatedDate = m[0] + "." + m[1] + "." + m[2];
                                return formatedDate;
                            }
                            else
                                return data
                        },
                    },
                    {
                        "aTargets": [4],
                        "bSortable": false,
                        "bSearchable": false,
                    },
                    {
                        "aTargets": [5],
                        "bSortable": false,
                        "bSearchable": false,
                    }
                ],
                "order":
                [1, 'asc']
            });

            t.on('order.dt search.dt', function() {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function(cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });

        function deleteTournament(tournamentId) {
            if (confirm("Вы уверены, что хотите удалить турнир?")) {
                $.ajax({
                    url: "/Tournament/Delete",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    data: JSON.stringify({ id: tournamentId }),
                    success: function(data) {
                        window.location.reload();
                    },
                    error: function(xhr) {
                        window.location.reload();
                    }
                });
            }
        };
    </script>
}

