@model IEnumerable<Statistics.Domain.Tournament>

@{
    ViewBag.Title = "Турниры";
}

<h2>Турниры</h2>

@section styles
{
    <link href="~/Content/GridStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/themes/base/css")
    
}

<p>
    <a class="btn btn-default" href="@Url.Action("Create", "Tournament")" aria-controls="example" data-dt-idx="1">Добавить новый</a>
</p>

<table id="tournamentlist" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Дата</th>
            <th>Количество раундов</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td><a class="btn btn-default btn-sm btn-block" href="@Url.Action("Details", "Tournament", new { id = tournament.TournamentId })" aria-controls="tournamentlist" data-dt-idx="1">@tournament.TournamentName</a></td>
                <td>@tournament.Date</td>
                <td>3</td>
                <td><a class="btn btn-default btn-sm btn-block" href="@Url.Action("Edit", "Tournament", new { id = tournament.TournamentId })" aria-controls="tournamentlist" data-dt-idx="1">Edit</a></td>
                <td><a class="btn btn-default btn-sm btn-block" aria-controls="tournamentlist" onclick="deleteTournament(@tournament.TournamentId)" data-dt-idx="1">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/Scripts/dataTables.select.min.js")
    @Scripts.Render("~/Scripts/dataTables.editor.min.js")
    @Scripts.Render("~/Scripts/dataTables.sorting.date-eu.js")
       
    <script>
        $(document).ready(function () {
            $('#tournamentlist').DataTable({
                columnDefs: [
                  { type: 'date-eu', targets: 0 }
                ]
            });
        });

        //турнир удаляется, но выскакивает alert "error"
        function deleteTournament (tournamentId) {
            if (confirm("Вы уверены, что хотите удалить турнир?")) {
                $.ajax({
                    url: "/Tournament/Delete",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    data: JSON.stringify({ id: tournamentId }),
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (xhr) {
                        alert('error');
                        window.location.reload();
                    }
                });
            }
            return false;
        };
    </script>
}

