@model IEnumerable<Statistics.Domain.Tournament>

@{
    ViewBag.Title = "Members";
}

<h2>Создание турнира</h2>

<p>
    @Html.ActionLink("Параметры", "Create", "Tournament")
    @Html.ActionLink("Участники", "Members", "Tournament")
    @Html.ActionLink("Стыковые матчи", "Create", "Round")
</p>

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
