@model IEnumerable<Statistics.Domain.Tournament>

@{
    ViewBag.Title = "Members";
    //var grid = new WebGrid(source: Model, rowsPerPage: 20);    
}

<h2>Создание турнира</h2>

<p>
    @Html.ActionLink("Параметры", "Create", "Tournament")
    @Html.ActionLink("Участники", "Members", "Tournament")
    @Html.ActionLink("Стыковые матчи", "Create", "Round")
</p>

@*@grid.GetHtml(tableStyle: "grid",
              headerStyle: "header",
              rowStyle: "row",
              alternatingRowStyle: "alt-row",
              footerStyle: "footer",
              htmlAttributes: new { id = "grid", cellpadding = "6px", cellspacing = "0px", },
              columns: grid.Columns(
                //grid.Column(columnName: "MemberId", header: "Участник")
              )
           )*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
