@model IEnumerable<Statistics.Domain.Tournament>

@{
    ViewBag.Title = "Members";
}

<h2>Создание турнира</h2>

@section styles
{
    <link href="~/Content/GridStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/themes/base/css")

}

<p>
    @Html.ActionLink("Параметры", "Create", "Tournament")
    @Html.ActionLink("Участники", "Members", "Tournament")
    @Html.ActionLink("Стыковые матчи", "Create", "Round")
</p>

<a class="btn btn-default btn-sm" href="@Url.Action("AddMember", "Tournament")" aria-controls="memberslist" data-dt-idx="1">Добавить участника</a>
<p></p>

<table id="memberslist" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Имя</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @*@foreach (var tournament in Model)
        {
            <tr>
                <td>tournament.Member</td>
                <td><a class="btn btn-default btn-sm btn-block" href="@Url.Action("RemoveMember", "Tournament", new { id = tournament.Member })" aria-controls="memberslist" data-dt-idx="1">Delete</a></td>
            </tr>
        }*@
    </tbody>
</table>

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/dataTables.select.min.js")
    @Scripts.Render("~/Scripts/dataTables.editor.min.js")

<script>
    $(document).ready(function () {
        $('#memberslist').DataTable();
    });
</script>
    }
