@model Statistics.Domain.Member

@{
    ViewBag.Title = "Create";
}

<h2>Создание участника</h2>
<p></p>
@section styles
{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Scripts/select2/css/select2.min.css")
    @Styles.Render("//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Member</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberName, "Имя")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberName)
            @Html.ValidationMessageFor(model => model.MemberName)
        </div>
        <p></p>
        <p>
            <input class="btn btn-default btn-sm" type="submit" value="Создать" />
            <a class="btn btn-default btn-sm" href="@Url.Action("Index", "Member")">Вернуться к списку</a>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        window.onload = function () {
            var alertText = '@ViewBag.Alert';

            if (alertText != '') {
                alert(alertText);
            }
        }
    </script>
}
