@model Statistics.Domain.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Member</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemberName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeckList)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeckList)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
