@model Statistics.Domain.Member

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование участника</h2>
<p></p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Member</legend>

        @Html.HiddenFor(model => model.MemberId)

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberName, "Имя")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberName)
            @Html.ValidationMessageFor(model => model.MemberName)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
