@model Statistics.Domain.Member

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование участника</h2>
<p></p>
@section styles
{
    @Styles.Render("~/Content/themes/base/css")
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Member</legend>

        @Html.HiddenFor(model => model.MemberId)

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberName, "Имя")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberName)
            @Html.ValidationMessageFor(model => model.MemberName)
        </div>

        <p></p>
        <p>
            <input class="btn btn-default btn-sm" type="submit" value="Сохранить" />
            <a class="btn btn-default btn-sm" href="@Url.Action("Index", "Member")">Вернуться к списку</a>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
