@model IEnumerable<Statistics.Domain.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Участники турниров</h2>

@section styles
{
    <link href="~/Content/GridStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/themes/base/css")

}

<p>
    <a class="btn btn-default" href="@Url.Action("Create", "Member")" aria-controls="example" data-dt-idx="1">Добавить участника</a>
</p>

<table id="memberlist" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Дек-лист</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => member.MemberName)</td>
                <td>Дек-лист</td>
                <td><a class="btn btn-default btn-sm btn-block" href="@Url.Action("Edit", "Member", new { id = member.MemberId })">Править</a></td>
                <td><a class="btn btn-default btn-sm btn-block" onclick="deleteMember(@member.MemberId)">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#memberlist').DataTable();
        });

        function deleteMember (memberId) {
            if (confirm("Вы уверены, что хотите удалить участника?")) {
                $.ajax({
                    url: "/Member/Delete",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    data: JSON.stringify({ id: memberId }),
                    success: function(data) {
                        window.location.reload();
                    },
                    error: function(xhr) {
                        window.location.reload();
                    }
                });
            }
        };
    </script>
}
