@model IEnumerable<Statistics.Domain.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Участники рейтинга</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeckList)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeckList)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.MemberId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.MemberId })
        </td>
    </tr>
}

</table>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="/DataTables-1.10.9/media/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="/DataTables-1.10.9/media/js/jquery.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
</head>
<body>
    <table id="example">
        <thead>
            <tr><th>Веб-сайты</th></tr>
        </thead>
        <tbody>
            <tr><td>Pixel.com</td></tr>
            <tr><td>Новый путь</td></tr>
            <tr><td>Портал UA</td></tr>
        </tbody>
    </table>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#example").dataTable({
                "bServerSide": true,
                "sAjaxSource": "http://demo.pixelcom.crimea.ua/javascript/data-tables/data_source.json",
                "aoColumns": [{
                    "mData": "name",
                    "sTitle": "Название сайта"
                }, {
                    "mData": "url",
                    "mRender": function (url, type, full) {
                        return '<a href="' + url + '">' + url + '</a>';
                    }
                }, {
                    "mData": "editor.name"
                }, {
                    "mData": "editor.phone"
                }, {
                    "mData": "editor",
                    "mRender": function (data) {
                        return data.email.join("<br>");
                    }
                }]
            });
        })
    </script>
</body>
</html>
