@model Berserk_Statistics_MVC.Models.TournamentList

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TournamentList</legend>

        @Html.HiddenFor(model => model.TournamentListId)

        <div class="editor-label">
            @Html.LabelFor(model => model.TournamentListName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TournamentListName)
            @Html.ValidationMessageFor(model => model.TournamentListName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberId, "Member")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MemberId", String.Empty)
            @Html.ValidationMessageFor(model => model.MemberId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberName)
            @Html.ValidationMessageFor(model => model.MemberName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MembersNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MembersNumber)
            @Html.ValidationMessageFor(model => model.MembersNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RatingId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RatingId)
            @Html.ValidationMessageFor(model => model.RatingId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RatingName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RatingName)
            @Html.ValidationMessageFor(model => model.RatingName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
