@model Statistics.Domain.Rating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Rating</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Owner.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Member.MemberName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Member.MemberName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Win)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Win)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Loss)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Loss)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TournamentsNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TournamentsNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PercentPoint)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PercentPoint)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RatingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
