@model Statistics.Domain.Round

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Round</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoundName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoundName)
            @Html.ValidationMessageFor(model => model.RoundName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TournamentId, "Tournament")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TournamentId", String.Empty)
            @Html.ValidationMessageFor(model => model.TournamentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstMemberId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstMemberId)
            @Html.ValidationMessageFor(model => model.FirstMemberId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstMemberName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstMemberName)
            @Html.ValidationMessageFor(model => model.FirstMemberName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecondMemberId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SecondMemberId)
            @Html.ValidationMessageFor(model => model.SecondMemberId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecondMemberName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SecondMemberName)
            @Html.ValidationMessageFor(model => model.SecondMemberName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
