@model Statistics.Domain.Round

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Round</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoundName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoundName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tournament.TournamentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tournament.TournamentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstMemberId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstMemberId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstMemberName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstMemberName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecondMemberId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecondMemberId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecondMemberName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecondMemberName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
